<div class="ui equal width center aligned grid">
  <div class="row">
    <div class="nopad column bg">
        <app-navbar></app-navbar>
      <h1 class="pad-text">NUESTROS AGENTES</h1>
    </div>
  </div>
</div>
<div class="ui basic segment page">
  <div class="ui centered stackable grid">
    <div class="nine wide column">
      <div class="ui stackable items">
        <div class="item">
          <img class="ui medium image" src="../../../assets/img/agente.jpg">
          <div class="content">
            <a class="header">Mario Bertolino</a>
            <div class="meta">
              <span>Agente inmobiliario</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <label>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed nihil sint dolores consequuntur, illum amet a placeat modi?
              Praesentium accusantium dolor sed! Dolor, optio ducimus.
            </label>
            <br>
            <br>
            <label>
              <i class="gray phone icon"></i> +56 9 9876 5432</label>
            <br>
            <br>
            <label>
              <i class="gray mail icon"></i> mario@bertolino.cl</label>
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <h2>CONTACTAR AGENTE</h2>
      <br>
      <div class="ui form">
        <div class="field">
          <label>Nombre</label>
          <input placeholder="Nombre y apellido" type="text">
        </div>
        <div class="field">
          <label>E-mail</label>
          <input placeholder="Correo electrónico" type="email">
        </div>
        <div class="field">
          <label>Mensaje</label>
          <textarea style="height: 45px;"></textarea>
        </div>
        <div class="ui blue button">Enviar</div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="ui basic segment">
  <div class="ui internally celled centered stackable grid">
    <div class="four wide column">
      <h3>
        <i class="check green circle icon"></i>Mario Bertolino</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, corrupti repellendus!
      </p>
    </div>
    <div class="four wide column">
      <h3>
        <i class="check green circle icon"></i>Mario Bertolino</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, corrupti repellendus!
      </p>
    </div>
    <div class="four wide column">
      <h3>
        <i class="check green circle icon"></i>Mario Bertolino</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, corrupti repellendus!
      </p>
    </div>
  </div>
</div>
<br>