.row {
    background-image:url('../../../assets/img/inicio.png');
    background-size: 100% 100%;
    color: #FFFFFF;
    height: 30em;
    padding: 0 !important;
}

.centertext {
    padding-top: 5%;
    padding-bottom: 5% !important;
}

.height {
    max-height: 400px !important;
}

.line {
    width: 100px;
    height: 10px;
    background: rgb(116, 159, 52);
    border-radius: 2px;
  }

.text {
    font-size: 15px;
    font-weight: 500;
    color: rgb(88, 88, 88);
 }

 .text1 {
    font-size: 17px;
    font-weight: 500;
    color: rgb(117, 117, 117);
    padding-top: 18%;
 }

 .padbottom {
    padding-bottom: 8%;
 }

 .text2 {
    font-size: 14px;
    font-weight: 400;
    color: rgb(80, 80, 80);
 }

 .size-agente {
     width: 50% !important;
 }

 .paddtop {
     padding-top: 0 !important;
     margin-top: 0 !important;
 }

 .vl {
    border-left: 1px solid rgb(156, 156, 156);
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 60% !important;
}