.row {
    background-image:url('../../../assets/img/inicio.png');
    background-size: 100% 100%;
    color: #FFFFFF;
    height: 30em;
    padding: 0 !important;
}

.centertext {
    padding-top: 5%;
    padding-bottom: 5% !important;
}

.height {
    max-height: 400px !important;
}

.line {
    width: 100px;
    height: 10px;
    background: rgb(116, 159, 52);
    border-radius: 2px;
  }

.padd-top {
    padding-top: 15%;
 }

 .padd-top-1 {
    padding-top: 10%;
 }

 .padd-top-2 {
    padding-bottom: 10%;
    padding-top: 10%;
 }

 .size-agente {
     width: 100% !important;
 }