<div class="ui equal width center aligned grid">
  <div class="row">
    <div class="nopad column bg">
      <app-navbar></app-navbar>
      <h1 class="pad-text">NOSOTROS</h1>
    </div>
  </div>
</div>
<div class="page">
  <div class="ui one column centered grid">
    <div class="four wide centered aligned column">
      <H3>NOSOTROS</H3>
      <div class="ui horizontal divider">
        <div class="line"></div>
      </div>

    </div>
  </div>
</div>
<div class="ui stackable centered grid padbottom">
  <div class="one wide computer only column"></div>
  <div class="six wide column">
    <div class="ui basic segment">
      <img class="ui centered image" src="../../../assets/img/agente.jpg">
      <div class="ui center aligned basic segment paddtop">
        <i>Sr.Mario Bertolino Rendic</i>
      </div>
    </div>
  </div>
  <div class="one wide computer only column">
    <!--<div class="vl">
    </div>-->
  </div>
  <div class="seven wide column">
    <div class="ui basic center aligned segment text1">
      <p>
        <i>
          "Nuestra misión es entregar a nuestros clientes e inversionistas un servicio profesional y personalizado en el área de corretaje
          de propiedades, productos agrícolas, remates, licitaciones-remate y otros servicios, tales como comisiones de confianza
          y representaciones, asociados a las actividades antes señaladas, avalado por la experiencia, el conocimiento de
          la Región, del mercado y la confianza de un trabajo responsable, serio y transparente."
        </i>
      </p>
    </div>
  </div>
  <div class="one wide column"></div>
  <div class="one wide column"></div>
  <div class="seven wide column">
    <div class="ui justified container text2">
      <p>Comercial Bertolino, nace en el año 1985 con el objeto de entregar a la Región de Coquimbo sus servicios, como una
        empresa regional, dedicada a las actividades de corretaje de propiedades, productos agrícolas, servicios de martillero
        público y representaciones, entre ellos almacenaje y corredor de bolsa. Brinda servicios enfocados a los remates
        y licitaciones-remate en los rubros inmobiliario, agrícola, minero, transporte, pesquero, entre otros, logrando importantes
        transacciones en la Región de Coquimbo, a lo largo del tiempo para clientes regionales y nacionales.
      </p>
      <br>
      <p>
        Mantenemos contacto comercial y corresponsalía con empresas de corretajes y remates de la Región Metropolitana y de otras
        regiones del país. Como empresa buscamos satisfacer y cubrir las necesidades de nuestros clientes, que buscan comercializar
        sus productos de manera óptima, segura y transparente, para ello contamos con conocimiento, manejo del mercado y
        una visión de futuro, que permiten a nuestros clientes e inversionistas obtener la mejor información y el mejor precio
        de mercado para su producto o bien a transar.
      </p>
    </div>
  </div>
  <div class="seven wide middle aligned column">
    <div class="ui basic segment">
      <img class="ui fluid image" src="../../../assets/img/Bertolino1.png">
    </div>
  </div>
  <div class="one wide column"></div>