<app-header></app-header>
<!--<div class="ui equal width center aligned grid">
  <div class="row">
    <div class="nopad column">
      <app-navbar (titleUpdated)="handleTitleUpdated($event)"></app-navbar>
      <h1>{{title}}</h1>
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>
<app-suscribe></app-suscribe>
<app-footer></app-footer>


<!--<app-header></app-header>
<div class="ui fluid bg">
    <app-navbar (titleUpdated)="handleTitleUpdated($event)"></app-navbar>
  <img class="ui fluid image height" src="../../assets/img/inicio.png">
</div>
<router-outlet></router-outlet>
<app-suscribe></app-suscribe>
<app-footer></app-footer>-->