<div class="ui four column doubling stackable grid">
  <div class="five wide column">
    <img class="ui fluid image" src="../../../assets/img/Bertolino1.png">
  </div>
  <div class="four wide middle aligned paralelogramo computer only column">
    <div class="ui items">
      <div class="item">
        <div class="sizetransform ui tiny image">
          <img src="../../../assets/img/Phone.png">
        </div>
        <div class="sizetransform middle aligned content">
          <div class="header">
            <font color="white">+51 2 21 50 03</font>
            <br>
            <font color="white">+56 9 9232 3747</font>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide middle aligned mobile only column">
    <div class="ui grid color">
      <div class="two wide middle aligned column nopad">
        <img class="image-phone" src="../../../assets/img/telephone.png">
      </div>
      <div class="fourteen wide column padd-left">
        <div class="ui items">
          <div class="item nopad">
            <div class="middle aligned content">
              <a class="number-phone right" href="tel:512215003">
                <b>+51 2 215003</b>
              </a>
              |
              <a class="number-phone left" href="tel:56992323747">
                <b>+56 9 92323747</b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide middle aligned computer only column">
    <div class="ui items">
      <div class="item">
        <div class="ui tiny image">
          <img src="../../../assets/img/Point.png">
        </div>
        <div class="middle aligned content">
          <h5 class="font">Eduardo de La Barra Nº336, Oficina 204</h5>
          <h4 class="font1">La Serena</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide middle aligned center aligned computer only column">
    <a class="ui basic button" routerLink="/admin" routerLinkActive="active">
      <i class="icon user"></i>
      Ingresar
    </a>
  </div>
</div>