<div class="ui equal width center aligned grid">
    <div class="row">
        <div class="nopad column bg">
            <app-navbar></app-navbar>
            <h1 class="pad-text">CONTACTO</h1>
        </div>
    </div>
</div>
<div class="ui basic segment page">
    <app-gmap>
    </app-gmap>
</div>
<div class="ui basic segment">
    <div class="ui centered stackable grid">
        <div class="two wide column"></div>
        <div class="five wide column">
            <h2>CONTACTAR AGENTE</h2>
            <br>
            <div class="ui form">
                <div class="field">
                    <label>Nombre</label>
                    <input placeholder="Nombre y apellido" type="text">
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input placeholder="Correo electrónico" type="email">
                </div>
                <div class="field">
                    <label>Mensaje</label>
                    <textarea style="height: 45px;"></textarea>
                </div>
                <div class="ui blue button">Enviar</div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="six wide column">
            <div class="ui stackable items">
                <div class="item">
                    <div class="content">
                        <h2>NUESTRA DIRECCIÓN</h2>
                        <br>
                        <label>
                            Eduardo de La Barra 336, Oficina 204, La Serena, Región de Coquimbo
                        </label>
                        <hr>
                        <br>
                        <label>
                            <i class="gray phone icon"></i> 51 2 21 50 03 <b>/</b> +56 9 9876 5432</label>
                        <br>
                        <br>
                        <label>
                            <i class="gray mail icon"></i> contacto@bertolino.cl</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>
    </div>
</div>
<br>