.border {
  border-radius: 0px !important;
  transition: 0.3s;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15) !important; 
}
  
.border:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3) !important;  
} 

.primary.button {
  background-color: rgb(66,113,180);
  border-radius: 0px; 
}

.primary.button:hover {
  background-color:rgb(40, 91, 163)
}

.header {
  font-size: 1rem !important;  
  margin-bottom: 2px;
  color: rgb(61, 61, 61) !important;
  font-weight: 500 !important;
  padding-left: 10px !important;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.header-modal {
  font-size: 1.2rem !important;  
  color: rgb(61, 61, 61) !important;
  font-weight: 600 !important;
  vertical-align: middle !important;
  padding-bottom: 10px;
}

.border-left {
  border-left: 5px solid rgb(116, 159, 52);
}

.padtop {
  padding-top: 10px;
}

.textcolor {
  color: rgb(110, 110, 110);
}

.primary.button {
  background-color: rgb(66,113,180);
  border-radius: 0px; 
}

.primary.button:hover {
  background-color:rgb(40, 91, 163)
}

.color {
  color: rgb(116, 159, 52);
  font-weight: 300;
  font-size: 1.5rem !important;
  }
/*--------------
      Card
---------------*/

.ui.cards > .card,
.ui.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 320px;
  height: 415px !important;
  min-height: 0px;
  background: #FFFFFF;
  padding: 0em;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
  z-index: '';
}

.ui.card {
  margin: 1em 0em;
}

.p {
  margin-bottom: 0 auto;
  }

.header {
    margin-bottom: 2px;
    }

.parent {
    width: 250px;
}

#div1 {
  white-space: nowrap; 
  width: 250px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 29px;
  margin-top: 5px;
  margin-bottom: -4px;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(110, 110, 110);
}

.block-ellipsis-1 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-slide {
  text-align:center;
  }
  .swiper-slide img {
  width:480px !important;
  height:280px !important;
  max-width:100%;
  max-height:100%;
  }

/*--------------
     Images
---------------*/

.ui.cards > .card > .image,
.ui.card > .image {
  position: relative;
  display: block;
  height: 190px !important;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0em;
  background: rgba(0, 0, 0, 0.05);
}

.ui.cards > .card > .image > img,
.ui.card > .image > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.ui.cards > .card > .image:not(.ui) > img,
.ui.card > .image:not(.ui) > img {
  border: none;
}