<br>
<br>
<div class="ui right grid">

  <div class="twelve wide column">
    <h1 class="ui left aligned header">/DERECHOS DE AGUA</h1>
    <br>
    <br>
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui search">
          <div class="ui width icon input">
            <input class="prompt" placeholder="Ingrese una busqueda..." type="text">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="four wide column">
        <button *ngIf="collapse" class="ui green right floated button" (click)="openCollapse(agua)">
          Nuevo
        </button>
        <button *ngIf="!collapse" class="ui primary right floated button" (click)="closeCollapse()">
          Cancelar
        </button>
      </div>
      <div class="sixteen wide column">
        <div [suiCollapse]="collapse">
          <div class="ui segment">
            <lsu-loader [active]="activeLoader" loaderText="Guardando cambios" loaderSize="medium"></lsu-loader>
            <sui-dimmer [(isDimmed)]="dimmer" [isClickable]="true">
              <h2 class="ui inverted icon header">
                <i class="checkmark icon"></i>
                La operación se ha realizado con éxito!
              </h2>
              <h3>
                <div class="ui green button" (click)="closeCollapse()">Cerrar</div>
              </h3>
            </sui-dimmer>
            <form class="ui form">
              <div class="field">
                <div class="fields">
                  <div class="ten wide field">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="agua.name" name="titulo" placeholder="Título">
                  </div>
                  <div class="six wide field">
                    <label>Precio</label>
                    <input type="number" step="10" [(ngModel)]="agua.price" name="precio" placeholder="Precio">
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Descripción</label>
                <textarea rows="2" style="height: 50px;" type="text" [(ngModel)]="agua.description" name="descripcion" placeholder="Descripción"></textarea>
              </div>
              <div class="field">
                <button class="ui green right floated button" (click)="dataUpload(agua)">Guardar</button>
              </div>
              <br>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <table class="ui fixed single line celled unstackable olive table">
      <thead>
        <tr>
          <th class="three wide">Fecha Publicación</th>
          <th class="six wide center aligned">Nombre</th>
          <th class="five wide center aligned">Precio</th>
          <th class="two wide center aligned">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agua of aguasPage">
          <td class="center aligned">{{(agua.date!=null) ?(getDate(agua.date) | date: 'dd/MM/yy') : 'Sin Fecha'}}</td>
          <td>{{agua.name}}</td>
          <td class="center aligned">{{agua.price | number}}</td>
          <td class="center aligned">
            <ng-template let-popup #popupTemplate>
              <div class="header">Eliminar</div>
              <div class="content">
                <p>¿Esta seguro que desea eliminar este documento?</p>
                <div class="ui tiny red right floated button" (click)="deleteAgua(agua)">Si</div>
                <div class="ui tiny primary right floated button" (click)="popup.close()">No</div>
              </div>
            </ng-template>
            <button class="tiny ui color-edit icon button" suiPopup popupText="Editar" (click)="closeCollapse();openCollapse(agua)">
              <i class="edit icon"></i>
            </button>
            <button class="tiny ui color-delete icon button" suiPopup [popupTemplate]="popupTemplate" popupTrigger="outsideClick" [popupPlacement]="'left'">
              <i class="erase icon"></i>
            </button>

          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">
            <sui-pagination [collectionSize]="(aguas | async )?.length" [pageSize]="pageSize" [maxSize]="maxSize" [hasEllipses]="false"
              [canRotate]="true" [(page)]="selectedPage" (pageChange)="pageChange($event)">
            </sui-pagination>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>